<%= turbo_frame_tag "lesson_history" do %>
  <div class="lesson-history">
    <h2 class="lesson-history__title"><%= t("revisions.history") %></h2>

    <ol class="lesson-history__list">
      <%= render partial: "revisions/revision_row", collection: @revisions, as: :revision_row %>
    </ol>

    <% if @more %>
      <%= link_to t("revisions.show_more"),
          lesson_revisions_path(@lesson, page: @page + 1),
          class: "lesson-history__more" %>
    <% end %>
  </div>
<% end %>
