<%= turbo_frame_tag :flash do %>
  <% if notice = flash[:notice] || flash[:alert] %>
    <div class="flash"
         data-controller="element-removal"
         data-element-removal-delay-value="4000">
      <div class="flash__inner">
        <%= notice %>
      </div>
    </div>
  <% end %>
<% end %>
