<div class="topic-card">
  <div class="topic-card__icon">
    <%= topic_icon_svg(icon) %>
  </div>
  <h3 class="topic-card__title"><%= title %></h3>
  <p class="topic-card__subtitle"><%= subtitle %></p>
</div>
