<% meta_title(t("admin.suggestions_title")) %>

<section class="admin-page">
  <div class="container">
    <%= render "admin/shared/nav" %>

    <div class="admin-header">
      <h1 class="admin-header__title"><%= t("admin.suggestions_title") %></h1>
    </div>

    <%= render "list" %>
  </div>
</section>
