<% names = lesson.contributor_names %>
<% if names.any? %>
  <footer class="lesson-contributors">
    <span class="lesson-contributors__label"><%= t("lessons.improved_by") %></span>
    <ul class="lesson-contributors__list">
      <% names.each do |name| %>
        <li class="lesson-contributors__person">
          <%= avatar_tag(name) %>
          <span class="lesson-contributors__name"><%= name %></span>
        </li>
      <% end %>
    </ul>
  </footer>
<% end %>
