<p class="lesson-section-edit">
  <%= link_to new_lesson_suggestion_path(@lesson, section: section), class: "lesson-edit-link link-quiet link-quiet--underline" do %>
    <%= heroicon "pencil-square", variant: :outline %>
    <span><%= t("lessons.suggest_edit") %></span>
  <% end %>
</p>
