.breadcrumbs {
  align-items: center;
  color: var(--color-subtle-dark);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85em;
  gap: var(--inline-space-half);
  min-inline-size: 0;

  > * {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.breadcrumbs__separator {
  color: var(--color-subtle-dark);
  user-select: none;
}

.breadcrumbs__current {
  color: var(--color-ink);
}
