<% if object.errors.any? %>
  <div class="mb-4 p-3 rounded-lg bg-red-900/30 border border-red-500/30 text-sm text-red-400">
    <% object.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="mb-4 p-3 rounded-lg bg-teal-900/30 border border-teal-500/30 text-sm text-teal-400">
    <%= flash[:notice] %>
  </div>
<% end %>
