<% if object.errors.any? %>
  <div class="mb-4 p-3 rounded-lg bg-negative/10 border border-negative/30 text-sm text-negative">
    <% object.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="mb-4 p-3 rounded-lg bg-link/10 border border-link/30 text-sm text-link">
    <%= flash[:notice] %>
  </div>
<% end %>
